include gmsdataloader/stationprocessing/resources/config/config.ini
include gmsdataloader/userpreferences/resources/config/config.ini
include gmsdataloader/stationreference/resources/config/config.ini
