$core-sans: 'OpenSans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$core-mono: 'SourceCodePro', 'Source Code Pro', monospace;

:root {
  --core-sans: #{$core-sans};
  --core-mono: #{$core-mono};
}
