@import '../../gms-fonts.scss';

.map {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
}
.map__status-online-indicator {
  position: absolute;
  bottom: 0.8rem;
  right: 1rem;
  color: var(--gms-main, $gms-main);
  .map__status-online-indicator__online-mode {
    color: var(--gms-main, $gms-main);
    text-shadow: -1px 0 var(--gms-recessed, $gms-recessed), 0 1px var(--gms-recessed, $gms-recessed),
      1px 0 var(--gms-recessed, $gms-recessed), 0 -1px var(--gms-recessed, $gms-recessed);
  }
  .map__status-online-indicator__offline-mode {
    color: $gms-strong-warning;
    text-shadow: -1px 0 var(--gms-recessed, $gms-recessed), 0 1px var(--gms-recessed, $gms-recessed),
      1px 0 var(--gms-recessed, $gms-recessed), 0 -1px var(--gms-recessed, $gms-recessed);
  }
}
.map__column {
  display: flex;
  height: 100%;
  flex-direction: column;
}
.map__row {
  flex: 1 1 auto;
  display: flex;
}
.map-controls {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
}
.map-controls__label {
  margin-bottom: 0rem !important;
  margin-left: 1rem !important;
}
.map-layer-toggles {
  flex: 0 0 auto;
  width: 130px;
  display: flex;
  flex-direction: column;
  background-color: var(--gms-prominent-background, $gms-prominent-background);
}
.map__inner-column {
  flex: 1 1 auto;
  border-left: 1px solid var(--gms-background, $gms-background);
  display: flex;
  flex-direction: column;
}
.map__rendering-wrapper-1 {
  flex: 1 1 auto;
  position: relative;
}

.map__layer-button {
  position: absolute;
  z-index: 10;
  top: 5px; //to align with cesium toolbar buttons
  left: 5px;
}

.map-time {
  font-family: $gms-mono;
}

.ian-map-gl-container {
  height: 100%;
  padding: 0;
}

.layer-panel-content {
  &__container {
    margin-top: -28px;
    margin-left: 10px;
    position: absolute;
    background-color: var(--gms-popover-background, $gms-popover-background);
  }
  &--header {
    padding: 3px 8px 8px 12px;
    border-bottom: solid 1px;
  }
  &--checkbox-list {
    margin-left: 8px;
  }
}

// Disabling Columbus view
.cesium-sceneModePicker-dropDown-icon[data-bind*='COLUMBUS_VIEW'] {
  display: none;
}

.sd-swatch-tooltip {
  padding: 5px 6px;
  background-color: var(--gms-table-header-background, $gms-table-header-background);
  color: #bfccd6;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(16, 22, 26, 10%), 0 2px 4px rgba(16, 22, 26, 20%),
    0 8px 24px rgba(16, 22, 26, 20%);
}
